alias local_refresh_db='sqlx database drop && sqlx database create && sqlx migrate run && sh ./devtools/psql-tsv-copy-imports.sh'
export DATABASE_URL='postgres://montecarlo:montecarlo@localhost:5432/montecarlo'

docker start pg
