export DATABASE_URL='postgres://pg2:pg2@localhost:5433/pg2'
export REDIS_URL='redis://127.0.0.1:6379'
export MONGODB_URL='mongodb://test:e245gf456df9oisg@localhost:27017'
#/test?retryWrites=true&w=majority'
export MONGODB_DB='test'
export MONGODB_COLLECTION='pos'